adf-dummies/pipeline/AssetLifecyclePipeline.json
{
	"name": "AssetLifecyclePipeline",
	"properties": {
		"activities": [
			{
				"name": "FetchKeyVaultSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://demo1tester.vault.azure.net/secrets/dell-comp-09876?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FetchKeyVaultSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "mySecretValue",
					"value": {
						"value": "@trim(activity('FetchKeyVaultSecret').output.value)\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"mySecretValue": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-21T09:40:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}